/* Custom Stylesheet */
/**
 * Use this file to override Materialize files so you can update
 * the core Materialize files in the future
 *
 * Made By MaterializeCSS.com
*/

@font-face { 
    font-family: 'champagne Limousines'; 
    src: url('../font/champagne_limousines/Champagne&Limousines.ttf'); 
}

body{
/*    background: url("../img/fondo.png") no-repeat;
    background-size: 1430px 750px;
    display: block;*/
    font-weight: lighter;
    font-family: 'champagne Limousines';
} 

#utb_logo{
    width: 35%;
    margin: 0;
}

#logo{
    width: 20%;
    margin-left: 40%;
    margin-bottom: 0;
}

.card-panel {
    background-color: #E0E0E0!important;
    background-image: url("../img/textura.png");
    background-size: cover;
    border: 2px solid #B6b6B6;
}

/******Form******/
/* label focus color */
label{
    color: #282828;
}
/* label underline focus color */
input[type=text], input[type=password], input[type=text]:focus, input[type=password]:focus{
    border-bottom: 1px solid #C1C1C1;
    box-shadow: 0 1px 0 0 #C1C1C1;
    color: white;
    padding-left: 10px;
    background-color: #C1C1C1;
}

.btn, .btn:hover{
    text-transform: none;
    background-color: #0E7049;
}
/*****Form*******/

h5{
    margin-top: 0;
    font-size: 140%;
}

@media (max-width:459px) {
    .card-panel{
        width: 100%;
        margin: 27% 0;
    }
    
    label, input[type=text], input[type=password]{
        font-size: 1.3em;
    } 
    
    .btn{
        font-size: 1.3em;
    }
}

@media (min-width: 460px) and (max-width : 767px){
    .card-panel{
        width: 90%;
        margin: 25% 5%;
    }
    
    h1{
        font-size: 5em;
    }
    
    label, input[type=text], input[type=password]{
        font-size: 1.3em;
    } 
    
    .btn{
        font-size: 1.3em;
    }
}    

@media (min-width :768px) and (max-width : 992px) {
    .card-panel{
        width: 80%;
        margin: 12% 10% 0;
    }
    
    h1{
        font-size: 5em;
    }
    
    label, input[type=text], input[type=password]{
        font-size: 1.2em;
    } 
    
    .btn{
        font-size: 1.4em;
    }
}

@media (min-width:993px) {
    .card-panel{
        width: 70%;
        margin: 10% 15%;
    }
    
    label{
        font-size: 1.4em;
    }  
    
    input[type=text], input[type=password]{
        font-size: 1.3em;
    }
    
    .btn{
        font-size: 1.6em;
    }
}
