/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 20-abr-2016, 15:38:13
    Author     : lauricdd
*/

@font-face { 
    font-family: 'champagne Limousines'; 
    src: url('../font/champagne_limousines/Champagne&Limousines.ttf'); 
}

$primary: #E0E0E0; //Light grey 
$accent: #B6b6B6; //Dark grey
$black: #262626; //Black
$dark_primary: #C1C1C1; //Dark grey
$secondary: #0E7049; //Green 
$background: #EFEFEF; //Light grey

body{
    font-family: 'champagne Limousines';
    font-weight: lighter;
    background-color: $background;
}
