
.dashboard{
    /** Navbar***/
    a.active, a.active:hover{
        background-color: $background;
        border: none;
        color: $secondary;
    }

    nav{
        background-color: $black;
        box-shadow: none;
    }

    .nav-wrapper{
        padding: 0 30px;
    }

    .collapsible-header {
        border: none;
        background-color: #044f43;
    }
    /** Nav li ***/
    
    /*** Footer ***/
    footer.page-footer {
        /*background: $black;
        margin-top: 0;
        padding-top: 0;*/
    }
    
    footer.page-footer a{
        color: white;
        font-weight: bold;
    }
    /*** Footer ***/
    
    /*** Sticky Footer ***/
    body {
        display: flex;
        min-height: 100vh;
        flex-direction: column;
    }

    main {
        flex: 1 0 auto;
    }
    /*** Sticky Footer ***/ 
      
    @media (max-width:459px) {
        nav li a{
            font-size: 0.8em;
        }
        
        /* Logo */
        .nav-wrapper img{
            width: 90px;
        }
        /* Logo */
        /** Navbar***/
    }

    @media (min-width: 460px) and (max-width : 767px){
        nav li a{
            font-size: 1.1em;
        }
        
        /* Logo */
        .nav-wrapper img{
            width: 98px;
        }
        /* Logo */
        /** Navbar***/
    }

    @media (min-width :768px) and (max-width : 992px) {
        /** Navbar***/
        nav li a{
            font-size: 1.5em;
        }
        
        /* Logo */
        .nav-wrapper img{
            width: 105px;
        }
        /* Logo */
        /** Navbar***/
    }
    
    @media (min-width:993px) {
        /** Navbar***/
        nav li a{
            font-size: 1.6em;
        }
        
        /* Logo */
        .nav-wrapper img{
            width: 110px;
        }
        /* Logo */
        /** Navbar***/
    }
    
    
}