/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 20-abr-2016, 14:28:24
    Author     : lauricdd
*/

@mixin input-color($color) {
    border-bottom: 1px solid $color;
    box-shadow: 0 1px 0 0 $color;
    background-color: $color;
}

#login-page {
    #utb_logo{
        width: 45%;
    }

    #logo{
        width: 30%;
        margin-top: 15px;
    }


    .card-panel {
        background-color: $primary !important;
        background-image: url("../img/textura.png");
        background-size: cover;
        border: 2px solid $accent;
    }

    /******Form******/
    /* label focus color */
    label{
        color: $black;
        font-weight: 300;
    }

    /* label underline focus color */
    input[type=text], input[type=password], input[type=text]:focus, input[type=password]:focus, input[type=text].valid, input[type=password].valid, input[type=text].invalid, input[type=password].invalid, input[type=text]:focus:not([readonly]),
    input[type=password]:focus:not([readonly]){
        @include input-color($dark_primary);
        color: white;
        padding-left: 10px;
        margin-top: 10px;
    }

    .btn, .btn:hover{
        text-transform: none;
        background-color: $secondary;
    }
    /*****Form*******/

    h5{
        margin-bottom: 10px;
        font-size: 120%;
        font-weight: 300;
    }
  

    @media (max-width:459px) {
        .card-panel{
            width: 100%;
            margin: 27% 0;
        }

        label, input[type=text], input[type=password]{
            font-size: 1.2em;
        } 

        .btn{
            font-size: 1.3em;
        }
    }

    @media (min-width: 460px) and (max-width : 767px){
        .card-panel{
            width: 90%;
            margin: 25% 5%;
        }

        label, input[type=text], input[type=password]{
            font-size: 1.1em;
        } 

        .btn{
            font-size: 1.3em;
        }
    }    

    @media (min-width :768px) and (max-width : 992px) {
        .card-panel{
            width: 80%;
            margin: 12% 10% 0;
        }

        label, input[type=text], input[type=password]{
            font-size: 1.1em;
        } 

        .btn{
            font-size: 1.2em;
        }
    }

    @media (min-width:993px) {
        .card-panel{
            width: 70%;
            margin: 10% 15%;
        }

        label{
            font-size: 1.2em;
        }  

        input[type=text], input[type=password]{
            font-size: 1.2em;
        }

        .btn{
            font-size: 1.5em;
        }
    }
    
}  