<div class="container home">
    <div class="row">
        <div class="col s12 m9 offset-m1 l8 offset-l1">
            <div ng-controller="courseCtrl"> 
                <div id="teachercourses" >
                    <h2>Cursos</h2>
                    <div ng-repeat="c in courses" >
                        <div class="collection">	
                            <div class="collection collection-item avatar">
                                <div class="col s12 m8 l8 left collectiondiv">
                                    <a ng-model="id" ui-sref="dashboard.courseview({course : c.nrc})">
                                        <i class="fa fa-users circle red"></i>
                                        <span class="title">{{c.subject_name}}</span>
                                        <p><b>NRC:</b> {{c.nrc}}</p>
                                    </a>
                                </div>
                                <div class="col s12 m4 l4 right asistenciadiv">
                                    <a class="fontgreen" ui-sref="dashboard.studentlist({course : c.nrc})"><i class="fa fa-bars left"></i>Tomar asistencia</a>
                                </div>    
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


