<div>

	<h2>Lista de estudiantes  <small>Aqui se mostrara lista de estudiantes de cada curso</small></h2>
	<div class="jumbotron">
		<div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div ng-controller="studentsByCourseCtrl"> 
                        <a ui-sref="home"><i class="fa fa-arrow-circle-left  fa-2x"></i></a>
						 <div class="text-left"id="coursestudents" >
							<h2>{{subject}} - {{nrc}}:</h2>
							<ul class="collection">
                                <li class="collection-item avatar" ng-repeat="s in students | filter:query | orderBy:'s.names'">
                                    <img src="images/flat-avatar.png" alt="" class="circle">
                                    <div class="switch">
                                        <form action="#">										
                                            <p> 
                                                <input ng-click="toggleSelection(s.id,s.names, $index)" class = "switch"    type="checkbox" id="students{{$index+1}}"  >

                                                <label FOR="students{{$index+1}}">

                                                        {{s.names}} {{s.lastnames}}

                                                    <div>
                                                        {{s.id}}
                                                    </div>
                                                </label>

                                            </p>
                                        </form>
                                    </div>
                                </li>
							</ul>
                    		<button class="btn" id="enviar" ng-click="studentPost()">Enviar lista</button>
						 </div>
					</div>

                </div>
            </div>
        </div>
	</div>
</div>