<div class="container listview" ng-controller="studentsByCourseCtrl">
    <div class="container">
        <div class="card">
            <div class="card-content">
                <div class="pagetitle">
                    <a onclick="window.history.back();" class="left"><i class="fa fa-arrow-circle-left fa-2x"></i> </a> 
                    <h4 class="fontblue">{{subject}} {{nrc}}</h4>
                </div>
                <h6>Lista de estudiantes</h6>
                <br>
                <div ng-repeat="s in students| filter:query | orderBy:'s.names'">
                    <div class="collection">	
                        <div class="collection collection-item avatar">
                            <div class="col s12 m8 l8 left collectiondiv">
                                <i class="fa fa-user circle red"></i>
                                <form action="#">		
                                    <input ng-click="toggleSelection(s.id, s.names, $index)" class="switch filled-in" type="checkbox" id="students{{$index + 1}}"> 
                                    <label for="students{{$index + 1}}" class="black-text"> 
                                        <p>{{s.names}} {{s.lastnames}} <br>
                                            {{s.id}}</p>
                                    </label>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="divider"></div>
                <br>
                <button class="btn backgroundgreen center" id="enviar" ng-click="studentPost()">Enviar lista</button>
            </div>
        </div>
    </div>
</div>  
