<div>
	<div class="jumbotron">
		<div class="container">
			<div > 
				<div class="row">
					<div class="col-lg-12">
						 <div id="coursestudents" >
                            <a ui-sref="studenthome"><i class="fa fa-arrow-circle-left  fa-2x"></i></a>


                            <div class="container" ng-controller="courseViewCtrl">
                                <div class="row">
                                    <div class="card">

                                        <div class="card-content">
                                            <div class="s12 col">
                                                <h3>{{subject}}</h3>
                                                <h4>{{course}}</h4>
                                                <h5>Porcentages de asistencias del </h5>
                                                <br>
                                                <ul>
                                                    <xx ng-repeat="state in courses">
                                                      <li card-view 
                                                          card-id="state.card" 
                                                          ng-if="state.column == 'backlog'" 
                                                          ng-include="cardview.html">
                                                       </li>
                                                     </xx>
                                                </ul>

                                            </div>
                                            <div class="card-action">
                                                <p>Student Statistics of this course {{course}}</p>
                                                <div>came: {{come}}</div>
                                                <div>notcame    : {{notcame}}</div>
                                                <div id="containerprofile"></div>
                                            </div>
                                        </div>
                                    </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
