
<div class="container listview" ng-controller="courseViewCtrl">
    <div class="container">
        <div class="card">
            <div class="card-content">
                <div class="s12 col">
                    <div class="pagetitle">
                        <a onclick="window.history.back();" class="left"><i class="fa fa-arrow-circle-left fa-2x"></i> </a> 
                        <h4 class="fontblue">{{subject}}</h4>
                    </div>
                    <h5 class="fontblue"><b>NRC:</b> {{course}}</h5>
                    <h5>Porcentajes de asistencias al curso</h5>
                    <br>
                </div>
                <div class="card-action">
                    <h5>Asistencias : {{comenum}}</h5>
                    <h5>Faltas : {{notcomenum}}</h5>
                    <div id="containerprofile"></div>
                </div>
            </div>
        </div>
    </div>
</div>  