<div>
	<h2>Student profile</h2>
	<div class="jumbotron">
		<div class="container">
			<div ng-controller="studentProfile"> 
                <div id="teacher" >
                    <div style="float: left;" class="pull-right container">
                        <div class="row">
                            <div class="col s12 m7">
                                <div class="card">
                                    <div class="card-image">
                        
                                        <img src="images/user.jpg" >
                                        <span class="card-title"> {{names}}{{lastnames}}</span>
                                    </div>
                                    <div class="card-content">
                                        <p> {{uid}}</p>
                                    </div>
                                    <div class="card-action">
                                        <p>Student Statistics of this course {{course}}</p>
                                        <div>came: {{came}}</div>
                                        <div>notcame    : {{notcame}}</div>
                                    </div>
                                </div>
                            </div>
                        </div>

                           
                    </div>
                </div>
            </div>
		</div>
	</div>
</div>