.home{
    .collectiondiv{
        margin: 5px 0;
    }
    
    .collectiondiv a{
        text-align: left;
        font-size: 1.5rem;
        letter-spacing: 1px;
        
    }
    
    .collectiondiv p{
        margin-bottom: 0;
        font-size: 1.4rem;
    }
    
    .asistenciadiv{
        margin: 5px 0;
    }
    
    #container {
        height:100%;
        width:100%;
        position:absolute;
    }
    
    @media (min-width :768px) and (max-width : 992px) {
        .asistenciadiv a{
            font-size: 1.1rem;
        }
    }

    @media (min-width:993px) {
        .asistenciadiv a{
            font-size: 1.3rem;
        }
    }
}

